extends layout
include mixins/_displayRules

block content
    .inner
        div
            h3= page.title
            if page.subtitle
                p: strong= page.subtitle
            p Page path: #{page.rel_path}
            p: strong Page meta
            if page.created
                p page created on #{page.created}
            if page.first_published
                p first published on #{page.first_published}
            if page.last_published
                p last published on #{page.last_published}
            a(href=`/editpage/${page._id}/1`): p Edit page details
        form.form(method="POST" enctype="multipart/form-data") 
            a(href=`/editpage/${page._id}/2`): p Edit content schema
            input.button(type="submit" value="Publish")
            each item in page.content
                case item.type
                    when 'heading'
                        div
                            label(for=item._id)= item.title
                            if item.rules.length
                                +displayRules(item.rules)
                            input(type="text" name=item._id value=item.content)
                            input(type="hidden" name=item._id value="heading")
                    when 'text'
                        div
                            label= item.title
                            if item.rules.length
                                +displayRules(item.rules)
                            textarea(name=item._id data-type=item.type)= item.content
                            input(type="hidden" name=item._id value="text")
                    when 'image'
                        div
                            label= item.title
                            if item.rules.length
                                +displayRules(item.rules)
                            input(type="file" name="image" accept="image/gif,image/png,image/jpeg")
                            input(type="hidden" name="image_ids" value=item._id)
                            if item.content
                                img(src=`/uploads/originals/${item.content}` alt=item.title width="200")
                                button(type="button") Delete image

            input.button(type="submit" value="Publish")