extends layout

block content
    .inner
        h2= title
        a(href="/register"): p Create new user
        hr
        each acc in users
            p #{acc.firstname} #{acc.lastname}: #{acc.role}
            if user.role === 'administrator'
                button(type="button" class="deleteUserBtn" data-id=`${acc._id}`) delete
            hr